@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");

.leader-mainmenu {
  height: calc(var(--vh));
  width: 100vw;
  display: grid;
  grid-template-rows: 13% 78% 9%;
}

.leader-container {
  width: 100vw;
  font-family: "Roboto Condensed";
}

.colheader {
  padding: 8px 0;
  background: #e09462;
  width: 100%;
  margin-left: 0;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.list {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 33%);
}
.list:nth-of-type(odd) {
  background: #ecd4ad;
}
.list:nth-of-type(even) {
  background: #e2c28f;
}
.list:last-child {
  border-radius: 0 0 5px 5px;
}
