@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");

.leader-mainmenu {
    background-image: url("../images/light.png");
    height: calc(var(--vh));
    width: 100vw;
  }
  
  .leader-header {
    display: grid;
    place-items: center;
    height: 13%;
    width: 100%;
    background-color: rgba(196, 196, 196, 0.76);
  }
  
  .leader-header h1 {
    color: white;
    font-family: "Squada One";
    font-weight: 200;
    font-size: 65px;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
      -1px -1px 0 #000;
  }

.leader-container {
    width: 100vw;
    font-family: "Roboto Condensed";
}

.leadheader {
  width: 100%;
  height: 70px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
    
.colheader {
  background: rgba(0, 168, 232, 0.79);
  width: 100%;
  margin-left: 0;
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,.2);
  font-size: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.list {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.list:nth-of-type(odd) {
    background: rgba(0,0,0,0.3);
 }
.list:nth-of-type(even) {
    background: rgba(0,0,0,0.15);
}
.list:last-child {
    border-radius: 0 0 5px 5px;
}