@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
body {
    color: white;
}
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
  }

  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    font-family: "Roboto", sans-serif;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

  .button {
      background-color: #ff4d4d;
      color: white;
      border: none;
      border-radius: 12px;
      padding: 2% 20%;
      text-align: center;
      font-family: "Roboto", sans-serif;
      text-decoration: none;
      display: inline-block;
      font-size: 45px;
      margin: 10px 10px;
      transition-duration: 0.3s;
      cursor: pointer;
  }

  .button:hover {
      background-color: #ff3333;
  }

  .win {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 25%;
    margin-right: 25%;
    border-style: solid;
    border-width: 5px;
    border-color: #00cc00;
    border-radius: 12px;
}

.lose {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 25%;
    margin-right: 25%;
    border-style: solid;
    border-width: 5px;
    border-color: #ff4d4d;
    border-radius: 12px;
}