.wordArray {
  grid-row: 2 / span 1;
  align-self: center;
  height: 95%;
  width: 90%;
  border: 5px solid black;
  border-radius: 20px;
  background-color: #ecf0f1;
  color: white;
  margin: 0 auto;
  text-align: start;
  padding: 5px;
  overflow-y: scroll;
  position: relative;
}

.wordArray h2 {
  text-align: center;
  color: black;
  position: absolute;
  top: 50%;
  padding: 0 50px;
  transform: translateY(-50%);
}

.wordArray p {
  display: inline-block;
  background-color: #34495e;
  padding: 7px 17px;
  margin: 5px;
  border-radius: 7px;
}
