.nav-label {
  color: aliceblue !important;
  transition: all 0.2s !important;
}

.nav-label.Mui-selected {
  color: white !important;
  background-color: #9c4104 !important;
}

.MuiBottomNavigationAction-label {
  font-size: 0.9rem !important;
}
